Language: Cpp

BasedOnStyle: Microsoft

#ColumnLimit: 90

# 连续的空行保留几行
MaxEmptyLinesToKeep: 1

PointerAlignment: Left

AccessModifierOffset: -4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AlwaysBreakAfterDefinitionReturnType: All

SortIncludes: false

# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments: true

#函数参数换行
AllowAllParametersOfDeclarationOnNextLine: true

AlignAfterOpenBracket: Align

AlignConsecutiveMacros: true

SpacesInContainerLiterals: true

Cpp11BracedListStyle: false

#在构造函数初始化时按逗号断行，并以冒号对齐
BreakConstructorInitializersBeforeComma: true

BreakBeforeBinaryOperators: All

BreakConstructorInitializers: BeforeColon